In [208]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [209]:
data = pd.read_csv("datasets/Social_Network_Ads.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [210]:
X = data.drop(['Purchased','Gender','User ID'],axis=1)
Y = data.Purchased
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.20)

In [211]:
def calc_sigmoid(Z):
    p=1/(1+np.exp((-Z)))
    p=np.minimum(p, 0.9999)
    p=np.maximum(p, 0.0001)
    return p

In [212]:
iterations = int(1000)
W = np.zeros((X_train.shape[1],1))
B = 0.0
alpha = 0.05
for i in range(iterations):
    Z = np.dot(W.T,X_train[:].values.T) + B
    A = calc_sigmoid(Z)
    dZ = A - y_train[:].values
    dW = (1/X_train.shape[0])*np.dot(X_train[:].values.T,dZ.T)
    dB = (1/X_train.shape[0])*dZ.sum()
    W = W - alpha*dW
    B = B - alpha*dB
print(W,B)

/tmp/ipykernel_9429/4138384001.py:2: RuntimeWarning: overflow encountered in exp
  p=1/(1+np.exp((-Z)))

[[  -25.57364031]
 [-1631.776875  ]] -4.438174999999996

In [213]:
W = np.squeeze(np.asarray(W)).reshape(1,2)
y_predicted = np.dot(W,X_test[:].values.T) + B
calc_sigmoid(y_predicted)

/tmp/ipykernel_9429/4138384001.py:2: RuntimeWarning: overflow encountered in exp
  p=1/(1+np.exp((-Z)))

array([[0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001,
        0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001, 0.0001]])

In [214]:
print(y_test[:].values)

[0 0 1 0 0 0 1 1 1 0 0 1 1 0 1 0 0 0 1 1 0 1 1 1 0 0 0 0 1 0 1 0 0 0 0 1 0
 0 0 0 0 0 1 1 1 1 0 1 0 0 0 1 0 1 1 0 1 0 1 1 0 0 1 1 0 0 0 0 0 0 1 0 1 0
 1 0 1 1 0 0]